#postWrite-postWriteForm{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}












// #postWrite-container{
//     display: flex;
//     justify-content: center;
//     width: 100%
// }
// #postWrite{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border: 1px solid #fff;
//     border-radius: 1%;
//     box-shadow:0px 0px 10 1px #ffffff;

//     width: 614px;
//     height: 100%;

//     background: #ffffff;

//     margin-top: 30px;


    
// }
// #postWrite-iconWrite-container{
//     width: 100%;
//     background-color:#e0e0e0;
//     border-bottom: 1px solid #e0e0e0;
//     img{
//         margin-left: 30px;
//         display: block;
//         width: 70px;;
//     }
// }

// #postwrite-uploadFile-container{
//     width: 570px;
//     height: 77px;
//     display: flex;
//     align-items: center;
//     border-bottom: 1px solid #e0e0e0;
//     img{
//         cursor: pointer;
//         margin: 1px;
//         border: 2px solid #151515;
//         border-radius: 1%;
//         width: 70px;
//     }
// }

// #postWrite-hashTags-container{
//     width: 570px;
//     height: 40px;
//     border-bottom: 1px solid #e0e0e0;
//     display: flex;
//     align-items: center;
// }

// #postwrite-textarea-container{
//     padding: 15px 0px;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     border-bottom: 1px solid #e0e0e0;
//     textarea{
//         padding: 10px;
//         font-size: 21px;
//         resize: none;
//         border-radius: 2%;
//         width: 570px;
//         height: 137px;
//     }
// }

// #postWrite-btnSubmit{
//     cursor: pointer;
//     width: 570px;
//     height: 37px;
//     background-color: skyblue;
//     color: white;
//     font-size: 15px;
//     font-weight: 600;
//     border: 3px solid skyblue;
// }
// #postWrite-btnSubmit:hover{
//     background-color: #3897f0;
//     border: 4px solid #3897f0;
// }

// #postWrite-btnCancel{
//     cursor: pointer;
//     width: 570px;
//     height: 37px;
//     background-color: white;
//     color: #7e7e7e;
//     font-size: 15px;
//     font-weight: 600;
//     margin-top: 10px;
//     margin-bottom: 25px;
//     border: 1px solid #bdbdbd;
//     border-radius: 1%;
    
// }

// #postWrite-btnCancel:hover{
//     background-color: #bdbdbd;
//     color: white;
// }
