#ChangeForm-container{
    background-color: #fff;
    border: 1px solid #d3d3d3;
    box-shadow:1px 1px 10 1px #ffffff;
    font-size: 14px;
    font-weight: 400;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChangeForm-btnInvert{
    color: #3897f0;
    cursor: pointer;
}