.profileMy{
    width: 979px;
    header{
        width: 100%;
        border: 1px solid yellow;
        margin-bottom: 15px;
    }
    section{
        width: 100%;
        border: 1px solid green;
    }
}