#loginForm-container{
    width: 350px;
    border: 1px solid #d3d3d3;
    box-shadow:1px 1px 10 1px #ffffff;

    background-color: #fff;

    display: flex;
    align-items: center;
    flex-direction: column;
    span{
        display: block;
        font-size: 14px;
        margin: 10px;
    }
    form{
        input{
            width: 258px;
            margin: 11px;
            display: block;
        }
    }
}

.loginForm-input{
    padding-left: 10px;
    height: 36px;
}

.loginForm-logoImg{
    width: 175px;
    margin-top: 23px;
    margin-bottom: 10px;
}

.loginForm-btnSubmit{
    cursor: pointer;
    height: 30px;
    background-color: #3897f0;
    color: white;
    font-size: 15px;
    font-weight: 600;

    border: 3px solid #3897f0;
    border-radius: 4%;
}
.loginForm-btnSubmit:disabled{
    background-color: #b4cfe9;
    border: 3px solid #b4cfe9;
}

#loginForm-span1{
    color: #999;
}

.loginForm-span2{
    color : #003569;
}

#loginForm-errorMsg{
    width: 233px;
    font-weight: 700;
    color : #ed4956;
}

#loginForm-profilePhoto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
    }
    input{
        height: 36px;
        margin: 11px;
        width: 258px;
    }
}

#historyForm-span-container{
    margin-bottom: 15px;
    span{
        display: inline;
    }
    :nth-child(2){
        cursor: pointer;
        color: #3897f0;
    }
}