.profileEditBtn{
    button{
        width: 135px;
        height: 30px;

        font-size: 17px;
        font-weight: 600;
        color: #262626;
        border: 1px solid #d3d3d3;
        border-radius: 5%;
        background-color: #f6f6f6;

        cursor: pointer;
    }
}