.profileMyHeader{
    display: flex;
    flex-direction: row;
    .__left{
        width: 35%;

        display: flex;
        justify-content: center;
        align-items: center;
        .__profilePhoto-container{
            width: 180px;
            height: 180px;
            img{

            }
        }
    }
    .__right{
        width: 65%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .__top{
            height: 50px;
            display: flex;
            align-items: center;
            .__content{
                margin-right: 10px;
            }
        }
        .__mid{

        }
        .__bottom{
            span{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}